<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toread.core.domain.mapper.CoreResourcesMapper">
	<resultMap type="CoreResources" id="BaseResultMapper">
		<id 		column="resources_id"   		property="resourcesId" />
		<result column="resources_name" 		property="resourcesName" />
		<result column="resources_url"  		property="resourcesUrl" />
		<result column="resources_type" 		property="resourcesType" />
		<result column="resources_priority" property="resourcesPriority" />
		<result column="resources_memo" 		property="resourcesMemo" />
	</resultMap>
	
	<select id="getAll" resultMap="BaseResultMapper">
		select * from core_resources;
	</select>
	
	<resultMap type="CoreResources" id="ORolesNsources" extends="BaseResultMapper">
		<collection property="coreRoles" resultMap="com.toread.core.domain.mapper.CoreRoles.BaseResultMapper"/>
	</resultMap>	
	<select id="getAllSourcesandRoles" resultMap="ORolesNsources">
		select *
		from `core_roles_resources` crr
     left join `core_roles` ro on crr.`rolse_id` = ro.`rolse_id`
     left join `core_resources` cr on crr.`resources_id` = cr.`resources_id`
	</select>
	<select id="getSourcesandRolesByResourcesUrl" resultMap="ORolesNsources" parameterType="string">
		select *
		from `core_roles_resources` crr
     left join `core_roles` ro on crr.`rolse_id` = ro.`rolse_id`
     left join `core_resources` cr on crr.`resources_id` = cr.`resources_id`
     <where>
     	 cr.`resources_url` = #{url}
     </where>
	</select>
</mapper>